.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header { background-color: #282c34;
  min-height: 100vh;
  display: flex; flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.demo {
  display: flex;
}

.demo .left {
  flex: 1.3;
  text-align: left;
  padding: 20px;
}

.demo .description li {
  margin-bottom: 12px;
}

.demo .description pre {
  background-color: rgba(0, 0, 0, 0.05);
}

.demo .description pre code {
  background-color: transparent;
}

.demo .description code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2px 5px;
  color: rgba(241, 82, 1, 1);
}

.demo .right {
  flex: 2;
}
